<!-- Modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add an Item for Tracking</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="mt-2" action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    {{form}}
                </form>
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
</div>