{% load static %}
<div class="container mt-5 ">
    <div class="row">
        <div class="col-md">
            <div class="col">
                <div class="card card-body shadow">
                    <form class="" method="POST" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-info mt-3 w-100" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>